.single-post-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.single-post__date {
    margin-bottom: 10px;
}

.single-post__time {
    margin-bottom: 10px;
    display: flex; 
    align-items: center;
    span {
        margin-left: 4px;
        margin-top: 4px;
    } 
}

.single-post__border {
    height: 1px;
    width: calc(100%);
    /* 전체 너비에서 좌우 10px의 간격을 뺀 크기 */
    background-color: rgb(138, 138, 138);
    margin: 20px 0;
}

h1, h2, h4 {
    font-weight: 700;
    margin-top: 40px;
}

p {
    font-size: 1.1rem;
    line-height: 1.8;
    letter-spacing: 0px; /* 글자 사이 간격 */
    word-spacing: 0px; /* 단어 사이 간격 */
    text-indent: 0; /* 들여쓰기 */
    margin: 20px 0!important;
    strong {
        font-size: 1.1rem;
        color: $light-green;
    }
    u {
        text-decoration-line: underline;
        text-decoration-style: dotted;  
    }
}

p + blockquote {
    margin-top: -20px;
}

/* 인용절 */
blockquote {
    border-left: 3px solid rgb(121, 121, 121);
    border-radius: 4px;
    background-color: rgba(143, 143, 143, 0.212)!important;
    padding: 10px;
    p {
        margin: 0!important;
    }
}

p img {
    width: 100%;
    border-radius: 10px;
}